<!doctype HTML>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href="/jsPsych/dist/jspsych.css" type="text/css" rel="stylesheet"/>
        <link href="/css/index.css" type="text/css" rel="stylesheet"/>
        <link href="/css/experiment.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class = "parent">
            <div class = "child">
                <div id="jspsych_target">
                    <h1>Merci d'avoir participé à l'étude.</h1>
                    <p>Dans cette étude, nous avons utilisé un contrôle de compréhension pour nous assurer 
                        que vous comprenez les instructions nécessaires pour terminer le reste de l'étude. 
                        Malheureusement, vous n'avez pas terminé le contrôle de compréhension dans le nombre 
                        d'essais requis.
                    </p>
                    <p>Par conséquent, nous vous demandons <b>de quitter l'étude et de renvoyer la soumission</b>.
                        Vos données ne seront pas utilisées pour de futurs rapports ou publications de cette étude. 
                        Nous apprécions vraiment votre temps et n'hésitez pas à nous contacter via Prolific 
                        si vous avez des inquiétudes.
</p>
            </div>
        </div>
    </body>
</html>