<!doctype HTML>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href="/jsPsych/dist/jspsych.css" type="text/css" rel="stylesheet"/>
        <link href="/css/index.css" type="text/css" rel="stylesheet"/>
        <link href="/css/experiment.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class = "parent">
            <div class = "child">
                <div id="jspsych_target">
                    <h1>Merci d'avoir participé à l'étude.</h1>
                    <p>Veuillez <b>CLIQUER SUR LE BOUTON</b> ci-dessous pour revenir à Prolific et terminer l'étude.</p>
                    <p>Assurez-vous de <b>CLIQUER SUR LE BOUTON</b> pour recevoir le crédit de votre participation.</p>
                    <button onClick="
                    parent.location='https:\//app.prolific.co/submissions/complete?cc=CIKF20WU'">
                        Terminer l'étude
                    </button>
            </div>
        </div>
    </body>
</html>